.productPlace{
    display: grid;
    grid-template-columns: repeat(3,25%);
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    gap: 5%;
    margin-top: 4%;
}
.dropdown{
    position: relative;
}
.dropdownMenu{
    position: absolute;
    left: 0;
    top: calc(100%);
    background-color: rgb(247, 250, 248);
    padding: 3% ;
    opacity: 0;
    transition: opacity 150ms ease-in-out ,transform 150ms  ease-in-out;
  border: solid black;

}
.dropdown > .categories:focus +.dropdownMenu{
    opacity: 1;
    
    
}
.thelogo{
    
    width: 150px;
   
}

.productimg img{
    width: 71%;
    height: 180px;
    
}
.product{
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: solid;
    height: 104%;
}
.productimg{
    display: contents;
}
.search{
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
}
.catName{
    cursor: pointer;
}
.catName:hover{
    color: bisque;
    background-color: black;
    cursor: pointer;
}
.next{
    position: absolute;
    top: 34%;
    left: 51%;
}
.back{
    position: absolute;
    top: 34%;
    left: 47%;
}