.productPlace{
    display: grid;
    grid-template-columns: repeat(3,25%);
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    gap: 5%;
    margin-top: 4%;
}
.dropdown{
    position: relative;
}
.dropdownMenu{
    position: absolute;
    left: 0;
    top: calc(100%);
    background-color: rgb(247, 249, 250);
    padding: 3% ;
    opacity: 0;
    transition: opacity 150ms ease-in-out ,transform 150ms  ease-in-out;
    transform: translateY(-10px );
pointer-events: none;
}
.dropdown > .categories:focus +.dropdownMenu{
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
}