.thelogo{
    
    width: 150px;
   
}
.firstnav{
    display: flex;
    align-items: center;
    border-bottom: solid 10px orange;

    margin-left: 2%;
}
.links{
    
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 70%;
    height: 44px;
}
.links div{
    margin-left: 11%;
    background-color: #0fff0bf0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 43px;
    border-radius: 29%;
    box-shadow: 3px 3px 2px black;
    transition: all 500ms;
}
.links div:hover{
    margin-left: 11%;
    background-color:  rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 43px;
    border-radius: 29%;
    box-shadow: 3px 3px 2px  #0fff0bf0
}
.slinks div:hover{
    margin-left: 11%;
    background-color:  rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 43px;
    border-radius: 29%;
    box-shadow: 3px 3px 2px  #0fff0bf0
}
.logo{
    display: flex;
    align-items: center;
}
.slinks div{
    margin-left: 11%;
    background-color: #0fff0bf0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 43px;
    border-radius: 29%;
    box-shadow: 3px 3px 2px black;
    transition: all 500ms;
}
.slinks{
    
        margin-left: 11%;
        /* background-color: #0fff0bf0; */
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        width: 53%;
        /* height: 43px; */
        /* border-radius: 29%; */
        /* box-shadow: 3px 3px 2px black; */
        /* transition: all 500ms; */
   
}
p{
    font-size: 28px;
}
a{
    text-decoration: none;
    font-size: 120%;
    color: black;
    transition: all 500ms;
}
a:hover{
    text-decoration: none;
    font-size: 120%;
    color: #f69c0a;
}