
.regsInputs{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.register {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: solid #48a526;
    margin-top: 7%;
    margin-left: 25%;
    background-color: aliceblue;
}